.Contact {
	width: 60%;
	margin: 0px auto;
	margin-bottom: 10px;
}

.Contact button {
	text-align: center;
	/* background-color: ; */
	/* box-shadow: 0px 5px/ 7px grey; */
	margin: auto;
	padding: 0px;
	/* border: px solid rgb(224, 255, 167); */
	margin: 8px;
}

.Contact form {
	padding: 10px 10px;
	width: 80%;
	margin: 2px auto;
	border: 10px solid rgb(207, 206, 206);
	border-top-style: ridge;
	background-color: rgb(255, 255, 240);
}

@media (max-width: 800px) {
	.Contact {
		width: 100%;
	}
}
