/*DESKTOP====================================*/
@media (min-width: 500px) {
	.NavigationItem {
		align-items: center;
		height: 100%;
		box-sizing: border-box;
		margin: 0;
		display: flex;
	}

	.NavigationItem a {
		border-bottom: 3px solid transparent;
		box-sizing: border-box;
		padding: 5px 10px;
		height: 100%;
		text-decoration: none;
		display: flex;
		color: #ffd9a3;
		align-items: center;
	}

	.NavigationItem a:hover,
	.NavigationItem a:active,
	.NavigationItem .a {
		background-color: #8f5c2c;
		border-bottom: 3px solid #40a4c8;
	}
}

/*MOBILE========================================*/
@media (max-width: 499px) {
	.NavigationItem {
		align-items: center;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		display: block;
	}

	.NavigationItem a {
		border-bottom: 4px solid transparent;
		box-sizing: border-box;
		padding: 14px 10px;
		width: 100%;

		height: 100%;
		text-decoration: none;
		display: block;
		color: #ffa01b;
		font-weight: 600;
		margin: 0;
		text-align: center;
		font-size: 120%;
	}

	.NavigationItem a:hover,
	.NavigationItem a:active {
		color: white;
		background-color: #ffa01b;
	}
	.NavigationItem .a {
		color: #ffa01b;
		border-left: 6px solid blue;
	}
}
