.SideDrawer {
	width: 270px;
	max-width: 70%;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	height: 100%;
	z-index: 200;
	background-color: white;
	transition: transform 0.6s ease-out;
}

.Open {
	transform: translate(0vw, 0vh);
}

.Close {
	transform: translate(-100vw, 0vh);
}

.SideDrawer .Logo {
	height: 10%;
}
