.SideDrawer {
	width: 230px;
	max-width: 60%;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	height: 100%;
	z-index: 200;
	background-color: white;
	transition: transform 0.6s ease-out;
	border-top-right-radius: 7%;
	border-bottom-right-radius: 7%;
}

.Open {
	transform: translate(0vw, 0vh);
}

.Close {
	transform: translate(-100vw, 0vh);
}

.SideDrawer .Logo {
	height: 10%;
	text-align: left;
}
